@page "/learn/technique/basic-rythmns"
@using BlazorApp2.Components.Learn.Shared
@layout SideNavPageLayout

<PageTitle>Technique</PageTitle>

<div class="min-calc-page-height-less-nav d-flex flex-column justify-content-evenly text-black-50 bg-light dynamic-font">
    <h1>Basic Rythmns</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>



