@page "/ask"

@code {
    
}

<PageTitle>Ask</PageTitle>

<h1>Ask</h1>

<AuthorizeView Roles="Admin">
    <button>Admin only!! so piss off!!</button>
</AuthorizeView>
<AuthorizeView Roles="User">
    <button>Looser button only looser!! LOOSAER!!!</button>
</AuthorizeView>



