@page "/learn/inspiration/danny-carey"
@using BlazorApp2.Components.Learn.Shared
@layout SideNavPageLayout

<PageTitle>Danny Carey</PageTitle>

<div class="min-calc-page-height-less-nav d-flex flex-column justify-content-evenly align-items-center
        text-black-50 bg-light dynamic-font p-4"
>
    <h1 class="font-fam-secondary page-heading-colour">Danny Carey</h1>

    <p>Danny Carey from the band Tool is one of the most influential and creative drummers out there.
        He is known for his unique style and complex rhythms. He is a master of odd time signatures and polyrhythms.
        He is also known for his use of electronic drums and other percussion instruments.
    </p>

    <div>
        <p class="page-subheading-colour">"Pneuma" live in concert. 2020.</p>
        <iframe class="video-size-ratio"
            src="https://www.youtube.com/embed/FssULNGSZIA"
            title="Danny Carey | &quot;Pneuma&quot; by Tool (LIVE IN CONCERT)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <div>
        <p class="page-subheading-colour">"Pneuma" live in concert. 2020.</p>
        <iframe class="video-size-ratio"
                src="https://www.youtube.com/embed/FssULNGSZIA"
                title="Danny Carey | &quot;Pneuma&quot; by Tool (LIVE IN CONCERT)"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
    <div>
        <p class="page-subheading-colour">"Pneuma" live in concert. 2020.</p>
        <iframe class="video-size-ratio"
                src="https://www.youtube.com/embed/FssULNGSZIA"
                title="Danny Carey | &quot;Pneuma&quot; by Tool (LIVE IN CONCERT)"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
        
    


</div>



