#side-menu-toggler {
    appearance: none;
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: 0rem;
    width: 3.5rem;
    height: 1.9rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7 10L12 15L17 10'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
    /*background-image: src(../../../wwwroot/images/down-arrow.png);*/
    background-repeat: no-repeat;
}

    #side-menu-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

        #side-menu-toggler:checked ~ #toggleable-side-nav {
            display: block;
        }

#toggleable-side-nav {
    display: none; /* gets overridden at small screen size */
    scrollbar-width: none; /* hide scrollbar firefox */
    /* Allow sidebar to scroll for tall menus, 8.4rem is mobile nav average size */
    height: calc(100vh - 8.4rem);
    overflow-y: auto;
}

/* Hide the default scrollbar for all elements */
/*::-webkit-scrollbar {
    display: none;*/ /* For Chrome, Safari, and Opera */
/*}*/

#side-nav-layout-body-container {
    /* Allow tall pages to scroll, 8.4rem is mobile nav average height */
    height: calc(100vh - 8.4rem);
    overflow-y: auto;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 576px) {
    #side-menu-toggler {
        display: none;
    }

    #toggleable-side-nav {
        display: block;
        min-width: 15rem;
        /* Allow sidebar to scroll for tall menus, 9.5rem is dektop nav average height */
        height: calc(100vh - 9.5rem);
    }

    #side-nav-layout-body-container {
        /* Allow tall pages to scroll, 8.4rem is mobile nav average height */
        height: calc(100vh - 9.5rem);
    }
}
