@page "/ask"

@code {
    
}

<PageTitle>Ask</PageTitle>

<h1>Ask</h1>

<AuthorizeView Roles="Admin">
    <button>Admin only!!</button>
</AuthorizeView>
<AuthorizeView Roles="User">
    <button>USER ONLY</button>
</AuthorizeView>



