@page "/kit"

@* @layout MainLayout *@

@code {
    // // Define the parameter to hold data passed to the layout
    // [CascadingParameter]
    // public MainLayout Layout { get; set; }

    // protected override void OnInitialized()
    // {
    //     string description = "This page is...";
    //     Layout.updateLayout("Kit", description);
    // }
}

<PageTitle>Kit</PageTitle>

<h1>Kit</h1>

