@implements IDisposable
@inject NavigationManager NavigationManager

<div class="p-3">
    <a class="navbar-brand" href="">
        <span class="page-heading-colour">Drummer</span>
        <span class="page-subheading-colour"> Buddies</span>
    </a>
</div>

<input 
    id="navbar-toggler"
    type="checkbox" 
    title="Navigation menu" 
    onclick="toggleTopNavigation()"
    />

<div id="nav-scrollable"
     onclick="clickTopNavToggler()"
     class=" px-4 container-fluid">
    <div class="row">
        <ul class="nav nav-pills col col-sm-9 flex-column flex-sm-row justify-content-center gap-0 gap-sm-5">
            <li class="nav-item dropdown">
                @* stop propagation when user clicks drop down menu to prevent ancestor onclick event to close navigation *@
                <NavLink class="nav-link dropdown-toggle nav-item" data-bs-toggle="dropdown" href="learn/" 
                    role="button" aria-expanded="false" onclick="event.stopPropagation();"
                >
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Learn
                </NavLink>
                <ul id="learn-dropdown" class="dropdown-menu bg-secondary">
                    <li class="nav-item">
                        <NavLink class="nav-link dropdown-item nav-item text-white"
                                 href="learn/fundamentals/overview">
                            Fundamentals
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link dropdown-item nav-item text-white"
                                 href="learn/technique/overview">
                            Techniques
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link dropdown-item nav-item text-white"
                                 href="learn/inspiration/overview">
                            Inspiration
                        </NavLink>
                    </li>
                </ul>
            </li>

            <li class="nav-item ">
                <NavLink class="nav-link" href="kit">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Kit
                </NavLink>
            </li>

            <li class="nav-item ">
                <NavLink class="nav-link" href="ask">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Ask
                </NavLink>
            </li>
        </ul>
        <div id="user-menu-container" class="col col-sm-3">
            <AuthorizeView>
                <Authorized>
                    <div id="user-dropdown" class="nav-item dropdown d-flex justify-content-end">
                        @* stop propagation when user clicks drop down menu to prevent ancestor onclick event to close navigation *@
                        <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" ref="#" role="button" aria-expanded="false" onclick="event.stopPropagation();">
                            <span class="bi bi-person-fill-nav-menu " aria-hidden="true"></span> @context.User.Identity?.Name
                        </a>
                        <ul class="dropdown-menu bg-secondary ">
                            <li class="nav-link dropdown-item nav-item px-3">
                                <NavLink class="nav-link" href="Account/Manage">
                                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Account
                                </NavLink>
                            </li>
                            <li class="nav-link dropdown-item nav-item px-3">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="nav-link">
                                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item d-flex justify-content-end">
                        <NavLink class="nav-link " href="Account/Login"><span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>

</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


}

